<div class="container mt-3">
  <h2>Clientes Registrados</h2>
  <button type="button" class="btn btn-success" id="agregar" (click)="irRegister()">Agregar</button>         
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Dirección</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>johnexample.com</td>
        <td>
            <button type="button" class="btn btn-warning">Editar</button>
            <button type="button" class="btn btn-info">Info User</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
