<div class="container mt-5">

  <form>
    <!-- Correo electrónico -->
    <div class="mb-3" hidden>
      <label for="email" class="form-label">Correo electrónico</label>
      <input type="email" class="form-control" name="email" [(ngModel)]="cambio.email" placeholder="usuario@correo.com">
    </div>

    <!-- Nueva contraseña -->
    <div class="mb-3">
      <label for="newPassword" class="form-label">Nueva Contraseña</label>
      <input type="password" class="form-control" name="newPassword" [(ngModel)]="cambio.passwordHash" placeholder="Ingrese la nueva contraseña">
    </div>

    <!-- Confirmar contraseña -->
    <div class="mb-3">
      <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
      <input type="password" class="form-control" name="confirmPassword"  [(ngModel)]="confirmed" placeholder="Confirme la nueva contraseña">
    </div>

    <div class="d-grid">
      <button type="button" class="btn btn-primary" style="width: 50%; margin: 0 auto;" (click)="enviarDatos()">Actualizar Contraseña</button>
    </div>
  </form>
</div>

