<div class="container mt-3">
  <h2>Empleados Registrados</h2>
  <button type="button" class="btn btn-success" id="agregar" (click)="irRegister()">Agregar</button>         
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Dirección</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody *ngIf="person">
      <tr *ngFor="let item of person">
        <td>{{item.name}}</td>
        <td>{{item.lastName}}</td>
        <td>{{item.direction}}</td>
        <td>
            <button type="button" class="btn btn-warning" (click)="irEdit(item.idPerson)">Editar</button>
            <button type="button" class="btn btn-info" (click)="irInfo(item.users.id)">Info User</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
