<div class="container mt-3">
  <h2>Empleados Registrados</h2><br>
  <button type="button" class="btn btn-success" id="agregar" *ngIf="isAdmin()== true" (click)="irRegister()">Agregar</button>         
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Dirección</th>
        <th>isActivo</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody *ngIf="person">
      <tr *ngFor="let item of person">
        <td>{{item.name}}</td>
        <td>{{item.lastName}}</td>
        <td>{{item.direction}}</td>
        <td>
          {{item.users.isActive ? 'Sí' : 'No'}}
        </td>
        <td>
            <button type="button" class="btn btn-warning" (click)="irEdit(item.idPerson)">Info User</button>
            <button type="button" class="btn btn-info" *ngIf="isAdmin()">Info Employee</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
